.App {
  background-color: #eee;
}
.App .NavPad {
  display: block;
  height: 70px;
}

@media only screen and (max-width: 767px) {
  .NavPadHideMobile {
    display: none !important;
  }
}
